
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: rgb(195, 180, 157);
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input {
  display: block;
  width: 400px;
  padding: 10px 15px;
  border-radius: 5px;
}

.input-message {
  display: block;
}

.input-list {
  margin-top: 40px;
  padding-left: 0;
  font-size: 20px;
}

.input-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.country__title-name {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
}

.country__box {
  display: flex;
  justify-content: center;
}

.country__content {
  margin-right: 60px;
}

.country__text {
  font-size: 26px;
}

.country__text span {
  font-weight: bold;
}

.country__languages-list {
  font-size: 24px;
  padding-left: 60px;
}

.country__img {
  margin-top: 20px;
  width: 25%;
  height: 25%;
}
